# 示例

In [6]:
from py2neo import Graph, Subgraph
from py2neo import Node, Relationship, Path

# 连接数据库
graph = Graph('bolt://localhost:7687/', auth=('neo4j', 'jhc20021102'))

graph.delete_all()

In [7]:
# 定义node
node_1 = Node('英雄', name = '张无忌')
node_2 = Node('英雄', name = '杨逍', 武力值 = '100')
node_3 = Node('派别', name = '明教')

# 存入图数据库
graph.create(node_1)
graph.create(node_2)
graph.create(node_3)
print(node_1)

(_0:英雄 {name: '\u5f20\u65e0\u5fcc'})

In [8]:
# 增加关系
node_2_to_node_1 = Relationship(node_2, '教主', node_1)
node_1_to_node_3 = Relationship(node_1, '统领', node_3)
node_2_to_node_3 = Relationship(node_2, '师出', node_3)

graph.create(node_2_to_node_1)
graph.create(node_1_to_node_3)
graph.create(node_2_to_node_3)

# 第二章——知识图谱示例图

In [18]:
from py2neo import Graph, Subgraph
from py2neo import Node, Relationship, Path

# 连接数据库
graph = Graph('bolt://localhost:7687/', auth=('neo4j', 'jhc20021102'))

graph.delete_all()

# 定义node
node_1 = Node('电影', name = '唐探1900')
node_2 = Node('导演', name = '陈思诚')
node_3 = Node('导演', name = '戴墨')
node_4 = Node('演员', name = '王宝强')
node_5 = Node('演员', name = '刘昊然')
node_6 = Node('演员', name = '周润发')
node_7 = Node('标签', name = '喜剧')
node_8 = Node('标签', name = '动作')
node_9 = Node('标签', name = '悬疑')
node_10 = Node('电影', name = '解密')
node_11 = Node('演员', name = '约翰·库萨克')
node_12 = Node('标签', name = '剧情')
node_13 = Node('标签', name = '历史')

# 存入图数据库
for i in range(13):
    name = f"node_{i+1}"
    node = globals()[name] # 使用 globals() 获取对应的变量值
    graph.create(node)
# graph.create(node_1)
# graph.create(node_2)
# graph.create(node_3)

# 增加关系
rsp1 = Relationship(node_2, '导演', node_1)
rsp2 = Relationship(node_3, '导演', node_1)
rsp3 = Relationship(node_4, '主演', node_1)
rsp4 = Relationship(node_5, '主演', node_1)
rsp5 = Relationship(node_6, '特别出演', node_1)
rsp6 = Relationship(node_1, '类型', node_7)
rsp7 = Relationship(node_1, '类型', node_8)
rsp8 = Relationship(node_1, '类型', node_9)
rsp9 = Relationship(node_2, '导演', node_10)
rsp10 = Relationship(node_5, '主演', node_10)
rsp11 = Relationship(node_11, '主演', node_10)
rsp12 = Relationship(node_10, '类型', node_12)
rsp13 = Relationship(node_10, '类型', node_13)

for i in range(13):
    name = f"rsp{i+1}"
    rsp = globals()[name] # 使用 globals() 获取对应的变量值
    graph.create(rsp)
# graph.create(node_2_to_node_1)
# graph.create(node_1_to_node_3)
# graph.create(node_2_to_node_3)

# 知识图谱构建测试

In [1]:
import pandas as pd
from py2neo import Graph, Node, Relationship, Subgraph

# 连接数据库
graph = Graph('bolt://localhost:7687/', auth=('neo4j', 'jhc20021102'))

graph.delete_all()

d:\Anaconda_other\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
d:\Anaconda_other\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# 读取测试数据
df = pd.read_excel("E:/Undergraduate-Program/毕业论文/数据集/test/test1.xlsx")
df

  name language region type relationship name.1 sex type.1
0   哪吒       国语     动画   电影           出演     饺子   男     演员
1   哪吒       国语     动画   电影           出演     傻子   女     演员
2  二郎神       国语     悬疑   电影           出演     傻子   女     演员
3  哮天犬       国语     动画   电影           出演     饺子   男     演员

In [3]:
df.values[0][1]
#	name	language	region	type
# df['name.1'][0]

'国语'

In [4]:
# 数据处理
df_movie = df[['name', 'language', 'region', 'type']]
df_actor = df[['name.1','sex','type.1']]
df_m = df_movie.drop_duplicates() # 去重
df_m.reset_index(drop=True, inplace=True) # 重新排序索引（防止建立节点时出错）
df_a = df_actor.drop_duplicates()
df_a.reset_index(drop=True, inplace=True)
df_m

  name language region type
0   哪吒       国语     动画   电影
1  二郎神       国语     悬疑   电影
2  哮天犬       国语     动画   电影

In [7]:
graph.delete_all()
# 建立节点
node_list = []
for i in range(len(df_m['name'])):
    node = Node(df_m.type[i], name = df_m.name[i], language = df_m.language[i],region = df_m.region[i])
    if node not in node_list:
        node_list.append(node)

for i in range(len(df_a['name.1'])):
    node = Node(df_a['type.1'][i], name = df_a['name.1'][i], sex = df_a.sex[i])
    if node not in node_list:
        node_list.append(node)
nodes = Subgraph(node_list)
graph.create(nodes)

In [6]:
# 创建关系
re_list = []
count = 0
for i in df.values:
    count += 1
    print(count)
    c= graph.nodes.match(i[3],name=i[0]).first()
    d = graph.nodes.match(i[7],name=i[5]).first()
    rel_a=Relationship(d,i[4],c)
    re_list.append(rel_a)
    
#导入关系
nodes=Subgraph(relationships=re_list)
graph.create(nodes)

1
2
3
4