In [1]:
%matplotlib inline
import numpy as np
# import matplotlib.font_managermn as fm
import matplotlib.pyplot as plt
# 配置中文
# # 添加字体 
# fm.fontMnager.addfont('../SimHei.ttf')
# 安装好字体后可以正常设置
plt.rcParams['font.sans-serif'] = ['SimHei'] # 中文字体设置-黑体
plt.rcParams['axes.unicode_minus'] = False # 解决保存图像是符号'-'显示为方块的问题

import pandas as pd

d:\Anaconda_other\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
d:\Anaconda_other\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [ ]:
# !pip install googletrans==4.0.0-rc1

Looking in indexes: https://mirrors.aliyun.com/pypi/simple/
Collecting googletrans==4.0.0-rc1
  Downloading https://mirrors.aliyun.com/pypi/packages/fa/0d/a5fe8fb53dbf401f8a34cef9439c4c5b8f5037e20123b3e731397808d839/googletrans-4.0.0rc1.tar.gz (20 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting httpx==0.13.3
  Downloading https://mirrors.aliyun.com/pypi/packages/54/b4/698b284c6aed4d7c2b4fe3ba5df1fcf6093612423797e76fbb24890dd22f/httpx-0.13.3-py3-none-any.whl (55 kB)
     ---------------------------------------- 55.1/55.1 kB 2.8 MB/s eta 0:00:00
Collecting httpcore==0.9.*
  Downloading https://mirrors.aliyun.com/pypi/packages/dd/d5/e4ff9318693ac6101a2095e580908b591838c6f33df8d3ee8dd953ba96a8/httpcore-0.9.1-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.6/42.6 kB 2.0 MB/s eta 0:00:00
Collecting chardet==3.*
  Downloading https://mirrors.aliyun.com/pypi/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl (133 kB)
     -------------------------------------- 133.4/133.4 kB 4.0 MB/s eta 0:00:00
Collecting idna==2.*
  Downloading https://mirrors.aliyun.com/pypi/packages/a2/38/928ddce2273eaa564f6f50de919327bf3a00f091b5baba8dfa9460f3a8a8/idna-2.10-py2.py3-none-any.whl (58 kB)
     ---------------------------------------- 58.8/58.8 kB ? eta 0:00:00
Requirement already satisfied: sniffio in d:\anaconda_other\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.2.0)
Collecting rfc3986<2,>=1.3
  Downloading https://mirrors.aliyun.com/pypi/packages/c4/e5/63ca2c4edf4e00657584608bee1001302bbf8c5f569340b78304f2f446cb/rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting hstspreload
  Downloading https://mirrors.aliyun.com/pypi/packages/76/c3/87beb45b57c9c418d32aa773a9d0adcf3b91422b7ad1fcc46f9d2b691eed/hstspreload-2025.1.1-py3-none-any.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 10.3 MB/s eta 0:00:00
Requirement already satisfied: certifi in d:\anaconda_other\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.9.14)
Collecting h11<0.10,>=0.8
  Downloading https://mirrors.aliyun.com/pypi/packages/5a/fd/3dad730b0f95e78aeeb742f96fa7bbecbdd56a58e405d3da440d5bfb90c6/h11-0.9.0-py2.py3-none-any.whl (53 kB)
     ---------------------------------------- 53.6/53.6 kB ? eta 0:00:00
Collecting h2==3.*
  Downloading https://mirrors.aliyun.com/pypi/packages/25/de/da019bcc539eeab02f6d45836f23858ac467f584bfec7a526ef200242afe/h2-3.2.0-py2.py3-none-any.whl (65 kB)
     ---------------------------------------- 65.0/65.0 kB 3.7 MB/s eta 0:00:00
Collecting hpack<4,>=3.0
  Downloading https://mirrors.aliyun.com/pypi/packages/8a/cc/e53517f4a1e13f74776ca93271caef378dadec14d71c61c949d759d3db69/hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading https://mirrors.aliyun.com/pypi/packages/19/0c/bf88182bcb5dce3094e2f3e4fe20db28a9928cb7bd5b08024030e4b140db/hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py): started
  Building wheel for googletrans (setup.py): finished with status 'done'
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17411 sha256=c1c8b36301b9b17a214a9a79c65afa303db060d284ac57be2daf9119bf66b8b2
  Stored in directory: c:\users\jhc\appdata\local\pip\cache\wheels\89\43\43\e543940b93392e07024e778a0831ff14bfa81cde92f2b1040c
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, idna, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: chardet
    Found existing installation: chardet 4.0.0
    Uninstalling chardet-4.0.0:
      Successfully uninstalled chardet-4.0.0
  Attempting uninstall: idna
    Found existing installation: idna 3.3
    Uninstalling idna-3.3:
      Successfully uninstalled idna-3.3
Successfully installed chardet-3.0.4 googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2025.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 idna-2.10 rfc3986-1.5.0

WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
    WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
    WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
    WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
    WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
    WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
    WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.2.2 requires pyqt5<5.13, which is not installed.
spyder 5.2.2 requires pyqtwebengine<5.13, which is not installed.
conda-repo-cli 1.0.20 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.20 requires nbformat==5.4.0, but you have nbformat 5.5.0 which is incompatible.
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -ndas (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution - (d:\anaconda_other\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\anaconda_other\lib\site-packages)

# 第三章数据处理

## 豆瓣电影数据集

### movies 电影表

In [87]:
df_movies = pd.read_csv("../../数据集/豆瓣电影数据集/豆瓣电影数据集/movies.csv")
df_movies

,MOVIE_ID,NAME,ALIAS,ACTORS,COVER,DIRECTORS,DOUBAN_SCORE,DOUBAN_VOTES,GENRES,IMDB_ID,...,MINS,OFFICIAL_SITE,REGIONS,RELEASE_DATE,SLUG,STORYLINE,TAGS,YEAR,ACTOR_IDS,DIRECTOR_IDS
0,26670818,情定河州,情定临夏天使然,王博/吴佳尼/王姬/高丽雯/郭力行/尹哲/沈丹萍/罗中旭/臧金生/罗刚/居文沛/阎青妤,NaN,尹哲,0.0,0.0,剧情/爱情,NaN,...,0.0,NaN,中国大陆,NaN,RmNQQeyzb,电影《情定临夏天使然》讲述临夏新一代青年人发奋图强、借助国家一带一路战略励志创业的故事。,甘肃/临夏/伊斯兰/中国/2016/中国大陆/烂片/宣传伊斯兰教的电影,2049.0,王博:|吴佳尼:1313262|王姬:1275275|高丽雯:1325661|郭力行:135...,尹哲:1326188
1,25815002,我不是李小龙,NaN,谷尚蔚/吴孟达/曾志伟/杜海涛,NaN,洪金宝,0.0,0.0,动作/爱情,NaN,...,0.0,NaN,中国大陆,NaN,EZnVfiNYf,桀骜不驯的如龙武功高强，在一场比赛中，被打成重伤，被诊今生不能再用功夫。女友荆兰为激发他重新...,穿越/华语,2049.0,谷尚蔚:1330813|吴孟达:1016771|曾志伟:1002862|杜海涛:1313024,洪金宝:1055887
2,26392287,曼哈顿中国女孩,NaN,NaN,NaN,NaN,0.0,0.0,剧情,NaN,...,0.0,NaN,中国大陆 / 美国,NaN,NuUvEJnzb,平民女孩李莉只身初入曼哈顿求学，在历经迷失与困惑之后，凭借努力与善良收获了事业上的成功，同时...,NaN,2049.0,NaN,NaN
3,26695995,绿毛水怪,NaN,NaN,NaN,梁栋/吴国墉,0.0,0.0,爱情,NaN,...,0.0,NaN,中国大陆,NaN,rqaqyb6ea,王小波经典中篇小说《绿毛水怪》将改编电影。《绿毛水怪》是王小波早期手稿作品，以天马行空的想象...,小波/王小波/爱情/小说改编/文学改编/剧情/中国/2017,2049.0,NaN,梁栋:|吴国墉:
4,26392292,为了祖国,NaN,NaN,NaN,NaN,0.0,0.0,剧情/历史,NaN,...,0.0,NaN,中国大陆 / 韩国,NaN,Inrqy7uib,1932年上海虹口爆炸案后，韩国国父金九在褚辅成、朱爱宝这些普通群众的帮助下逃到嘉兴避难。金...,NaN,2049.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140497,5108106,Pretty Boy and Rosa - 电影,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,nN2zjz7Yf,NaN,NaN,0.0,NaN,NaN
140498,5108082,番茄杀手 - 电影,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,N2jjNYnVf,NaN,NaN,0.0,NaN,NaN
140499,5108078,Fast Track - 电影,NaN,基思·卡拉丹/弗雷德·威廉森/邓肯·雷格尔/布兰迪·莱德福特/塞巴斯蒂安·斯宾赛/罗伯特·卡...,NaN,T·J·斯科特,0.0,0.0,剧情/动作,tt0124239,...,60.0,NaN,美国,NaN,AIBeyzzVf,NaN,NaN,1997.0,NaN,NaN
140500,5108060,7-9-13 - 电影,NaN,NaN,NaN,NaN,0.0,0.0,喜剧,tt0124270,...,0.0,NaN,丹麦,NaN,EJ3zzbERe,NaN,NaN,1934.0,NaN,NaN
140501,1291545,大鱼 - 电影,大鱼奇缘(港) / 大智若鱼(台) / 大鱼老爸,伊万·麦克格雷格/阿尔伯特·芬尼/比利·克鲁德普/杰西卡·兰格/海伦娜·伯翰·卡特/艾莉森·...,NaN,蒂姆·波顿,0.0,346019.0,剧情/家庭/奇幻/冒险,tt0319061,...,125.0,NaN,美国,2003-12-04,VRQY3zFJf,爱德华（伊万·麦克格雷格 Ewan McGregor 饰）生性热爱自由，成年之后，他选择离开...,亲情/奇幻/美国/TimBurton/童话/魔幻/剧情/美国电影,2003.0,NaN,NaN

In [113]:
df_mv = df_movies.copy()

# 将指定列的数据以'/'为分隔符拆分并转化为列表
df_mv['ACTORS'] = df_movies['ACTORS'].str.split('/')
df_mv['DIRECTORS'] = df_movies['DIRECTORS'].str.split('/')
df_mv['GENRES'] = df_movies['GENRES'].str.split('/')
df_mv['LANGUAGES'] = df_movies['LANGUAGES'].str.split('/')
df_mv['REGIONS'] = df_movies['REGIONS'].str.split('/')

# 删除NAME列中结尾的" - 电影"
df_mv['NAME'] = df_mv['NAME'].str.replace(' - 电影$', '', regex=True)

# 删除六列字段中数据为空的行
df_mv = df_mv[['NAME', 'ACTORS', 'DIRECTORS', 'GENRES', 'LANGUAGES', 'REGIONS']].dropna()
df_mv.reset_index(drop=True, inplace=True) # 重新排序索引

# 由于部分类型以繁体字形式出现且有现成的类型与之对应，因此考虑统一格式
df_mv['GENRES'] = df_mv['GENRES'].apply(lambda x: ['剧情' if genre == '劇情 Drama' 
                                       else '惊悚' if genre == '驚悚 Thriller'
                                       else '悬疑' if genre in '懸疑 Mystery'
                                       else '真人秀' if genre == 'Reality-TV'
                                       else '喜剧' if genre in ['喜劇 Comedy', 'Comedy']
                                       else '传记' if genre == '傳記 Biography'
                                       else '历史' if genre == '歷史 History'
                                       else '动作' if genre == '動作 Action'
                                       else '成人' if genre == 'Adult'
                                       else genre for genre in x])

df_mv

,NAME,ACTORS,DIRECTORS,GENRES,LANGUAGES,REGIONS
0,情定河州,"[王博, 吴佳尼, 王姬, 高丽雯, 郭力行, 尹哲, 沈丹萍, 罗中旭, 臧金生, 罗刚,...",[尹哲],"[剧情, 爱情]",[汉语普通话],[中国大陆]
1,我不是李小龙,"[谷尚蔚, 吴孟达, 曾志伟, 杜海涛]",[洪金宝],"[动作, 爱情]",[汉语普通话],[中国大陆]
2,天地无用,"[禅婵, 梁宸, 张凡夕 François Chang]",[张凡夕],"[剧情, 爱情]","[汉语普通话 , 法语]","[中国大陆 , 法国]"
3,沙漠,"[吴敏, 菅浩栋, 董昕傧, 牛森浩, 毛腾飞, 崔树强, 陈小玲, 段亚丽]",[常标],[剧情],[汉语普通话],[中国香港]
4,事出有姻,"[玛丽亚·格拉齐亚·库奇诺塔, 黄海波, 王丽坤, 李赞, 赛尔乔·阿西西, 瓦莱丽亚·玛里...","[达里奥·巴尔迪, 杜军]",[剧情],"[汉语普通话 , 意大利语]","[中国大陆 , 意大利]"
...,...,...,...,...,...,...
59477,Giovanni Falcone,"[米凯莱·普拉奇多, 安娜·博纳奥图, 吉安卡罗·吉安尼尼, 罗伯托·诺毕雷]",[朱塞佩·费拉拉],"[剧情, 犯罪]",[意大利语],[意大利]
59478,The Four Musketeers,[丽莎·佳丝托妮],[卡洛·卢多维克·布拉加利亚],[喜剧],[意大利语],"[意大利 , 法国]"
59479,Deburau,"[萨卡·圭特瑞, 拉娜·马尔科尼, 让·达奈]",[萨卡·圭特瑞],"[剧情, 喜剧]",[法语],[法国]
59480,Fast Track,"[基思·卡拉丹, 弗雷德·威廉森, 邓肯·雷格尔, 布兰迪·莱德福特, 塞巴斯蒂安·斯宾赛,...",[T·J·斯科特],"[剧情, 动作]",[英语],[美国]
59481,大鱼,"[伊万·麦克格雷格, 阿尔伯特·芬尼, 比利·克鲁德普, 杰西卡·兰格, 海伦娜·伯翰·卡特...",[蒂姆·波顿],"[剧情, 家庭, 奇幻, 冒险]","[英语 , 法语 , 俄语 , 粤语 , 汉语普通话]",[美国]

### 实体信息汇总

In [ ]:
# 类型
df_genres = pd.DataFrame(df_mv['GENRES'].explode('GENRES'))
df_genres = df_genres.drop_duplicates()
df_genres.reset_index(drop=True, inplace=True) # 重新排序索引
df_genres

   GENRES
0      剧情
1      爱情
2      动作
3      喜剧
4      动画
5      冒险
6      科幻
7      奇幻
8      战争
9      恐怖
10     历史
11     歌舞
12     惊悚
13     音乐
14     悬疑
15     犯罪
16     传记
17     家庭
18   舞台艺术
19     运动
20     同性
21   黑色电影
22     灾难
23     儿童
24     古装
25     武侠
26     戏曲
27     短片
28     西部
29    真人秀
30     情色
31    脱口秀
32    纪录片
33     鬼怪
34     成人
35     惊栗
36     悬念
37     荒诞

## TMDb 5k 电影数据集

### 数据集

In [2]:
df_tmdb = pd.read_csv("../../数据集/TMDB数据集/tmdb_5000_credits.csv")
df_tmdb = df_tmdb[['title', 'cast', 'crew']]
df_tmdb

,title,cast,crew
0,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...
4798,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [3]:
df_tmdb_mv = pd.read_csv("../../数据集/TMDB数据集/tmdb_5000_movies.csv")
df_tmdb_mv = df_tmdb_mv[['title', 'genres', 'production_countries']]
df_tmdb_mv['language'] = '英语'
df_tmdb_mv

,title,genres,production_countries,language
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",英语
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",英语
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",英语
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",英语
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",英语
...,...,...,...,...
4798,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",英语
4799,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],英语
4800,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",英语
4801,Shanghai Calling,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",英语
4802,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",英语

### 数据初步整理

In [149]:
# 从JSON中提取数据
import json

# 解析函数

# 提取json中的name
def extract_name(actors_str):
    # 用于存储结果的列表
    results = []
    actors = json.loads(actors_str)  # 将字符串解析为 JSON 对象
    for actor in actors:
        results.append(actor['name'])  # 提取 name 
    return results

# 提取职员中的导演
def extract_director_names(data_str):
    directors = json.loads(data_str)  # 将字符串解析为 JSON 对象
    results = []  # 初始化结果列表
    
    # 遍历所有条目，提取 job 为 Director 的 name 和 gender
    for director in directors:
        if director['job'] == 'Director':
            results.append(director['name'])
    return results

df1 = df_tmdb['cast'].apply(extract_name)
df2 = df_tmdb['crew'].apply(extract_director_names)
df3 = df_tmdb_mv['genres'].apply(extract_name)
df4 = df_tmdb_mv['production_countries'].apply(extract_name)

df_t_mv = pd.concat([df_tmdb['title'], df1, df2, df3, df_tmdb_mv['language'], df4], axis=1) # 将两个表对应的字段重新组合
df_t_mv.columns = ['NAME', 'ACTORS', 'DIRECTORS', 'GENRES', 'LANGUAGES', 'REGIONS'] # 修改列名（与豆瓣电影集匹配）
df_t_mv = df_t_mv[df_t_mv.apply(lambda row: all(bool(cell) for cell in row), axis=1)] # 删除内容为空的数据行
df_t_mv.reset_index(drop=True, inplace=True) # 重新排序索引
df_t_mv

,NAME,ACTORS,DIRECTORS,GENRES,LANGUAGES,REGIONS
0,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]",英语,"[United States of America, United Kingdom]"
1,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[Adventure, Fantasy, Action]",英语,[United States of America]
2,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],"[Action, Adventure, Crime]",英语,"[United Kingdom, United States of America]"
3,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[Action, Crime, Drama, Thriller]",英语,[United States of America]
4,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[Action, Adventure, Science Fiction]",英语,[United States of America]
...,...,...,...,...,...,...
4596,Bang,"[Darling Narita, Peter Greene, Michael Newland...",[Ash Baron-Cohen],[Drama],英语,[United States of America]
4597,Primer,"[Shane Carruth, David Sullivan, Casey Gooden, ...",[Shane Carruth],"[Science Fiction, Drama, Thriller]",英语,[United States of America]
4598,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez],"[Action, Crime, Thriller]",英语,"[Mexico, United States of America]"
4599,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith],"[Comedy, Drama, Romance, TV Movie]",英语,[United States of America]
4600,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Brian Herzlinger, Jon Gunn, Brett Winn]",[Documentary],英语,[United States of America]

### 实体信息汇总

In [ ]:
# 制片国家/地区
df_t_regions = pd.DataFrame(df_t_mv['REGIONS'].explode('REGIONS'))
df_t_regions = df_t_regions.drop_duplicates()
df_t_regions = df_t_regions.dropna()
df_t_regions.reset_index(drop=True, inplace=True) # 重新排序索引
df_t_regions

                     REGIONS
0   United States of America
1             United Kingdom
2                    Jamaica
3                    Bahamas
4                   Dominica
..                       ...
83               Afghanistan
84                    Angola
85        Dominican Republic
86                  Cameroon
87                     Kenya

[88 rows x 1 columns]

In [66]:
# 类型
df_t_genres = pd.DataFrame(df_t_mv['GENRES'].explode('GENRES'))
df_t_genres = df_t_genres.drop_duplicates()
df_t_genres = df_t_genres.dropna()
df_t_genres.reset_index(drop=True, inplace=True) # 重新排序索引
df_t_genres

             GENRES
0            Action
1         Adventure
2           Fantasy
3   Science Fiction
4             Crime
5             Drama
6          Thriller
7         Animation
8            Family
9           Western
10           Comedy
11          Romance
12           Horror
13          Mystery
14          History
15              War
16            Music
17      Documentary
18          Foreign
19         TV Movie

In [ ]:
# 演员与导演

# 用于存储结果的列表
results_actor = []
results_director = []

# 提取演员的名字和性别
def extract_names_and_genders(actors_str):
    actors = json.loads(actors_str)  # 将字符串解析为 JSON 对象
    for actor in actors:
        results_actor.append({'name': actor['name'], 'gender': actor['gender']})  # 提取 name 和 gender

# 提取职员中的导演和性别
def extract_director_names_and_genders(data_str):
    directors = json.loads(data_str)  # 将字符串解析为 JSON 对象
    
    # 遍历所有条目，提取 job 为 Director 的 name 和 gender
    for director in directors:
        if director['job'] == 'Director':
            results_director.append({'name': director['name'], 'gender': director['gender']})

# 应用解析函数并添加新的列
df_tmdb['cast'].apply(extract_names_and_genders)
df_tmdb['crew'].apply(extract_director_names_and_genders)
# 创建新的 DataFrame
df_tmdb_actor = pd.DataFrame(results_actor)
df_tmdb_director = pd.DataFrame(results_director)

df_tmdb_actor = df_tmdb_actor.drop_duplicates()
df_tmdb_actor.reset_index(drop=True, inplace=True)
df_tmdb_director = df_tmdb_director.drop_duplicates()
df_tmdb_director.reset_index(drop=True, inplace=True)

In [ ]:
# 导演
df_tmdb_director

                   name  gender
0         James Cameron       2
1        Gore Verbinski       2
2            Sam Mendes       2
3     Christopher Nolan       2
4        Andrew Stanton       2
...                 ...     ...
2573        Ian Gamazon       0
2574        Scott Smith       0
2575        Daniel Hsia       2
2576   Brian Herzlinger       2
2577         Brett Winn       0

[2578 rows x 2 columns]

In [ ]:
# 演员
df_tmdb_actor

                     name  gender
0         Sam Worthington       2
1             Zoe Saldana       1
2        Sigourney Weaver       1
3            Stephen Lang       2
4      Michelle Rodriguez       1
...                   ...     ...
54367     Daniella Pineda       0
54368       Laci J Mailey       1
54369          Zhu Shimao       0
54370    Brian Herzlinger       2
54371         Bill D'Elia       2

[54372 rows x 2 columns]

### 翻译并替换原内容

#### 类型-翻译转化（已存储） 
备份文件地址：../../数据集/TMDB数据集/TMDB_genres.csv

In [ ]:
# # 翻译文本
# from googletrans import Translator

# # 创建翻译器对象
# translator = Translator()

# def translate_text(text):
#     if pd.isna(text):  # 检查是否为 NaN
#         return text
#     try:
#         translated = translator.translate(text, dest='zh-CN')  # 将目标语言设置为中文
#         return translated.text
#     except Exception as e:
#         print(f"翻译错误: {e}")
#         return text  # 返回原文本以处理异常情况

# genres_list = df_t_genres['GENRES'].tolist()
# translated_genres = []
# regions_list = df_t_regions['REGIONS'].tolist()
# translated_regions = []


# for i in range(0, len(genres_list)):
#     translated_batch = translate_text(genres_list[i])
#     translated_genres.append(translated_batch)

# # 将翻译结果添加到 DataFrame
# # df_t_regions['REGIONS_TRANSLATED'] = translated_regions
# df_t_genres['GENRES_TRANSLATED'] = translated_genres

In [ ]:
# df_t_genres.loc[0, 'GENRES_TRANSLATED'] = '动作'
# df_t_genres.loc[2, 'GENRES_TRANSLATED'] = '奇幻'
# df_t_genres.loc[3, 'GENRES_TRANSLATED'] = '科幻'
# df_t_genres.loc[5, 'GENRES_TRANSLATED'] = '剧情'
# df_t_genres.loc[6, 'GENRES_TRANSLATED'] = '惊悚'
# df_t_genres.loc[7, 'GENRES_TRANSLATED'] = '动画'
# df_t_genres.loc[9, 'GENRES_TRANSLATED'] = '西部'
# df_t_genres.loc[11, 'GENRES_TRANSLATED'] = '爱情'
# df_t_genres.loc[13, 'GENRES_TRANSLATED'] = '悬疑'
# df_t_genres.loc[17, 'GENRES_TRANSLATED'] = '纪录片'
# df_t_genres.loc[18, 'GENRES_TRANSLATED'] = '国外'
# df_t_genres

             GENRES GENRES_TRANSLATED
0            Action                动作
1         Adventure                冒险
2           Fantasy                奇幻
3   Science Fiction                科幻
4             Crime                犯罪
5             Drama                剧情
6          Thriller                惊悚
7         Animation                动画
8            Family                家庭
9           Western                西部
10           Comedy                喜剧
11          Romance                爱情
12           Horror                恐怖
13          Mystery                悬疑
14          History                历史
15              War                战争
16            Music                音乐
17      Documentary               纪录片
18          Foreign                国外
19         TV Movie              电视电影

In [ ]:
# df_t_genres.to_csv("../../数据集/TMDB数据集/TMDB_genres.csv", index=False)

#### 制片国家-翻译转化（已存储）
备份文件地址：../../数据集/TMDB数据集/TMDB_regions.csv

In [ ]:
# # 翻译文本
# from googletrans import Translator

# # 创建翻译器对象
# translator = Translator()

# def translate_text(text):
#     if pd.isna(text):  # 检查是否为 NaN
#         return text
#     try:
#         translated = translator.translate(text, dest='zh-CN')  # 将目标语言设置为中文
#         return translated.text
#     except Exception as e:
#         print(f"翻译错误: {e}")
#         return text  # 返回原文本以处理异常情况

# regions_list = df_t_regions['REGIONS'].tolist()
# translated_regions = []


# for i in range(0, len(regions_list)):
#     translated_batch = translate_text(regions_list[i])
#     translated_regions.append(translated_batch)
# df_t_regions['REGIONS_TRANSLATED'] = translated_regions

In [ ]:
# df_t_regions

                     REGIONS REGIONS_TRANSLATED
0   United States of America                 美国
1             United Kingdom                 英国
2                    Jamaica                牙买加
3                    Bahamas                巴哈马
4                   Dominica               多米尼加
..                       ...                ...
83               Afghanistan                阿富汗
84                    Angola                安哥拉
85        Dominican Republic            多明尼加共和国
86                  Cameroon                喀麦隆
87                     Kenya                肯尼亚

[88 rows x 2 columns]

In [ ]:
# df_t_regions.to_csv("../../数据集/TMDB数据集/TMDB_regions.csv", index=False)

#### 修改原内容（类型和制片国家）

In [146]:
df_t_genres = pd.read_csv("../../数据集/TMDB数据集/TMDB_genres.csv")
df_t_regions = pd.read_csv("../../数据集/TMDB数据集/TMDB_regions.csv")

In [150]:
# 展开原 DataFrame 中的 GENRES 列
df_exploded = df_t_mv.explode('GENRES')

# 创建一个翻译映射
translation_map = pd.Series(df_t_genres['GENRES_TRANSLATED'].values, index=df_t_genres['GENRES']).to_dict()

# 使用 map 方法更新 df 中的 GENRES 列
df_t_mv['GENRES'] = df_t_mv['GENRES'].apply(lambda genres: [translation_map.get(genre, genre) for genre in genres])

# 展开原 DataFrame 中的 GENRES 列
df_exploded = df_t_mv.explode('REGIONS')

# 创建一个翻译映射
translation_map = pd.Series(df_t_regions['REGIONS_TRANSLATED'].values, index=df_t_regions['REGIONS']).to_dict()

# 使用 map 方法更新 df 中的 GENRES 列
df_t_mv['REGIONS'] = df_t_mv['REGIONS'].apply(lambda regions: [translation_map.get(region, region) for region in regions])

In [151]:
df_t_mv

,NAME,ACTORS,DIRECTORS,GENRES,LANGUAGES,REGIONS
0,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[动作, 冒险, 奇幻, 科幻]",英语,"[美国, 英国]"
1,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[冒险, 奇幻, 动作]",英语,[美国]
2,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],"[动作, 冒险, 犯罪]",英语,"[英国, 美国]"
3,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[动作, 犯罪, 剧情, 惊悚]",英语,[美国]
4,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[动作, 冒险, 科幻]",英语,[美国]
...,...,...,...,...,...,...
4596,Bang,"[Darling Narita, Peter Greene, Michael Newland...",[Ash Baron-Cohen],[剧情],英语,[美国]
4597,Primer,"[Shane Carruth, David Sullivan, Casey Gooden, ...",[Shane Carruth],"[科幻, 剧情, 惊悚]",英语,[美国]
4598,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez],"[动作, 犯罪, 惊悚]",英语,"[墨西哥, 美国]"
4599,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith],"[喜剧, 剧情, 爱情, 电视电影]",英语,[美国]
4600,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Brian Herzlinger, Jon Gunn, Brett Winn]",[纪录片],英语,[美国]

## 组合两个数据集(初始数据集)

In [153]:
df_all_mv = pd.concat([df_mv, df_t_mv], axis=0)
df_all_mv

,NAME,ACTORS,DIRECTORS,GENRES,LANGUAGES,REGIONS
0,情定河州,"[王博, 吴佳尼, 王姬, 高丽雯, 郭力行, 尹哲, 沈丹萍, 罗中旭, 臧金生, 罗刚,...",[尹哲],"[剧情, 爱情]",[汉语普通话],[中国大陆]
1,我不是李小龙,"[谷尚蔚, 吴孟达, 曾志伟, 杜海涛]",[洪金宝],"[动作, 爱情]",[汉语普通话],[中国大陆]
2,天地无用,"[禅婵, 梁宸, 张凡夕 François Chang]",[张凡夕],"[剧情, 爱情]","[汉语普通话 , 法语]","[中国大陆 , 法国]"
3,沙漠,"[吴敏, 菅浩栋, 董昕傧, 牛森浩, 毛腾飞, 崔树强, 陈小玲, 段亚丽]",[常标],[剧情],[汉语普通话],[中国香港]
4,事出有姻,"[玛丽亚·格拉齐亚·库奇诺塔, 黄海波, 王丽坤, 李赞, 赛尔乔·阿西西, 瓦莱丽亚·玛里...","[达里奥·巴尔迪, 杜军]",[剧情],"[汉语普通话 , 意大利语]","[中国大陆 , 意大利]"
...,...,...,...,...,...,...
4596,Bang,"[Darling Narita, Peter Greene, Michael Newland...",[Ash Baron-Cohen],[剧情],英语,[美国]
4597,Primer,"[Shane Carruth, David Sullivan, Casey Gooden, ...",[Shane Carruth],"[科幻, 剧情, 惊悚]",英语,[美国]
4598,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez],"[动作, 犯罪, 惊悚]",英语,"[墨西哥, 美国]"
4599,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith],"[喜剧, 剧情, 爱情, 电视电影]",英语,[美国]
4600,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Brian Herzlinger, Jon Gunn, Brett Winn]",[纪录片],英语,[美国]

In [155]:
df_all_mv.to_csv("../../数据集/处理后的数据集/movie_data_C3.csv", index=False)

In [17]:
import ast
df_all_mv = pd.read_csv("../../数据集/处理后的数据集/movie_data_C3.csv")

# 将存储的字符串值修改成列表形式
df_c = df_all_mv[['ACTORS','DIRECTORS','GENRES','LANGUAGES','REGIONS']].copy()

# 将列中的字符串转换为列表
df_all_mv['ACTORS'] = df_c['ACTORS'].apply(ast.literal_eval)
df_all_mv['DIRECTORS'] = df_c['DIRECTORS'].apply(ast.literal_eval)
df_all_mv['GENRES'] = df_c['GENRES'].apply(ast.literal_eval)
df_all_mv['REGIONS'] = df_c['REGIONS'].apply(ast.literal_eval)

# 处理 LANGUAGES 列
def convert_languages(lang):
    if isinstance(lang, str) and lang == "英语":  # 直接字符串"英语"
        return [lang]  # 转换为列表
    else:
        return ast.literal_eval(lang)  # 否则正常转换
df_all_mv['LANGUAGES'] = df_c['LANGUAGES'].apply(convert_languages)

df_all_mv

,NAME,ACTORS,DIRECTORS,GENRES,LANGUAGES,REGIONS
0,情定河州,"[王博, 吴佳尼, 王姬, 高丽雯, 郭力行, 尹哲, 沈丹萍, 罗中旭, 臧金生, 罗刚,...",[尹哲],"[剧情, 爱情]",[汉语普通话],[中国大陆]
1,我不是李小龙,"[谷尚蔚, 吴孟达, 曾志伟, 杜海涛]",[洪金宝],"[动作, 爱情]",[汉语普通话],[中国大陆]
2,天地无用,"[禅婵, 梁宸, 张凡夕 François Chang]",[张凡夕],"[剧情, 爱情]","[汉语普通话 , 法语]","[中国大陆 , 法国]"
3,沙漠,"[吴敏, 菅浩栋, 董昕傧, 牛森浩, 毛腾飞, 崔树强, 陈小玲, 段亚丽]",[常标],[剧情],[汉语普通话],[中国香港]
4,事出有姻,"[玛丽亚·格拉齐亚·库奇诺塔, 黄海波, 王丽坤, 李赞, 赛尔乔·阿西西, 瓦莱丽亚·玛里...","[达里奥·巴尔迪, 杜军]",[剧情],"[汉语普通话 , 意大利语]","[中国大陆 , 意大利]"
...,...,...,...,...,...,...
64078,Bang,"[Darling Narita, Peter Greene, Michael Newland...",[Ash Baron-Cohen],[剧情],[英语],[美国]
64079,Primer,"[Shane Carruth, David Sullivan, Casey Gooden, ...",[Shane Carruth],"[科幻, 剧情, 惊悚]",[英语],[美国]
64080,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez],"[动作, 犯罪, 惊悚]",[英语],"[墨西哥, 美国]"
64081,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith],"[喜剧, 剧情, 爱情, 电视电影]",[英语],[美国]
64082,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Brian Herzlinger, Jon Gunn, Brett Winn]",[纪录片],[英语],[美国]

### 实体信息统计

In [18]:
# 构建统计各字段实体信息数据的函数
def count_entity(df, str_name):
    df_tt = pd.DataFrame(df[str_name].explode(str_name))
    df_tt.replace('\s','',regex=True,inplace=True)
    df_tt = df_tt.drop_duplicates()
    df_tt = df_tt.dropna()
    df_tt.reset_index(drop=True, inplace=True) # 重新排序索引
    return df_tt

dataframes = {
    'ACTORS': count_entity(df_all_mv,'ACTORS'),
    'DIRECTORS':count_entity(df_all_mv, 'DIRECTORS'), 
    'GENRES': count_entity(df_all_mv, 'GENRES'),
    'LANGUAGES': count_entity(df_all_mv, 'LANGUAGES'),
    'REGIONS': count_entity(df_all_mv, 'REGIONS')
}

# 统计每个 DataFrame 的行数
data_stats = {
    name: df.shape[0] for name, df in dataframes.items()
}
data_stats['MOVIES'] = df_all_mv['NAME'].count()

# 创建新的 DataFrame
df_count = pd.DataFrame(data_stats.items(), columns=['实体信息', '数据量'])
df_count

        实体信息     数据量
0     ACTORS  148521
1  DIRECTORS   25226
2     GENRES      40
3  LANGUAGES     541
4    REGIONS     257
5     MOVIES   64083

# 关系建立

In [15]:
# 展开列
df_relationship = df_all_mv.explode('ACTORS')
df_relationship = df_relationship.explode('DIRECTORS')
df_relationship = df_relationship.explode('GENRES')
df_relationship = df_relationship.explode('LANGUAGES')
df_relationship = df_relationship.explode('REGIONS')

# 在 ACTORS 和 NAME 列之间插入 RELATIONSHIP 列                                                                     
df_relationship.insert(1, 'TYPE.1', '电影')
df_relationship.insert(3,'TYPE.2', '演员')
df_relationship.insert(5,'TYPE.3', '导演')
df_relationship.insert(7,'TYPE.4', '类型')
df_relationship.insert(9,'TYPE.5', '语言')
df_relationship.insert(11,'TYPE.6', '制片国家')
df_relationship.insert(2, 'RELATIONSHIP.1', '出演')
df_relationship.insert(5, 'RELATIONSHIP.2', '导演')
df_relationship.insert(8, 'RELATIONSHIP.3', '类型')
df_relationship.insert(11, 'RELATIONSHIP.4', '语言')
df_relationship.insert(14, 'RELATIONSHIP.5', '制片地区')
df_relationship.reset_index(drop=True, inplace=True)
df_relationship

,NAME,TYPE.1,RELATIONSHIP.1,ACTORS,TYPE.2,RELATIONSHIP.2,DIRECTORS,TYPE.3,RELATIONSHIP.3,GENRES,TYPE.4,RELATIONSHIP.4,LANGUAGES,TYPE.5,RELATIONSHIP.5,REGIONS,TYPE.6
0,情定河州,电影,出演,王博,演员,导演,尹哲,导演,类型,剧情,类型,语言,汉语普通话,语言,制片地区,中国大陆,制片国家
1,情定河州,电影,出演,王博,演员,导演,尹哲,导演,类型,爱情,类型,语言,汉语普通话,语言,制片地区,中国大陆,制片国家
2,情定河州,电影,出演,吴佳尼,演员,导演,尹哲,导演,类型,剧情,类型,语言,汉语普通话,语言,制片地区,中国大陆,制片国家
3,情定河州,电影,出演,吴佳尼,演员,导演,尹哲,导演,类型,爱情,类型,语言,汉语普通话,语言,制片地区,中国大陆,制片国家
4,情定河州,电影,出演,王姬,演员,导演,尹哲,导演,类型,剧情,类型,语言,汉语普通话,语言,制片地区,中国大陆,制片国家
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1730980,My Date with Drew,电影,出演,Matt LeBlanc,演员,导演,Jon Gunn,导演,类型,纪录片,类型,语言,英语,语言,制片地区,美国,制片国家
1730981,My Date with Drew,电影,出演,Matt LeBlanc,演员,导演,Brett Winn,导演,类型,纪录片,类型,语言,英语,语言,制片地区,美国,制片国家
1730982,My Date with Drew,电影,出演,Bill D'Elia,演员,导演,Brian Herzlinger,导演,类型,纪录片,类型,语言,英语,语言,制片地区,美国,制片国家
1730983,My Date with Drew,电影,出演,Bill D'Elia,演员,导演,Jon Gunn,导演,类型,纪录片,类型,语言,英语,语言,制片地区,美国,制片国家
1730984,My Date with Drew,电影,出演,Bill D'Elia,演员,导演,Brett Winn,导演,类型,纪录片,类型,语言,英语,语言,制片地区,美国,制片国家

In [16]:
df_relationship.to_csv("../../数据集/处理后的数据集/relationship.csv", index=False)

# 翻译测试案例

In [10]:
from googletrans import Translator

# 创建翻译器对象
translator = Translator()

In [43]:
# 定义一个翻译函数
def translate_text(text):
    if pd.isna(text):  # 检查是否为 NaN
        return text
    try:
        translated = translator.translate(text, dest='zh-CN')  # 将目标语言设置为中文
        return translated.text
    except Exception as e:
        print(f"翻译错误: {e}")
        return text  # 返回原文本以处理异常情况

translate_text(df_t_regions['REGIONS'][0])
# # 对指定列进行翻译
# df['翻译结果'] = df['英文字段'].apply(translate_text)

'美国'

# 数据探索性分析

In [15]:
# 使用 explode 将列表展开为单独的行
exploded_df = df_mv.explode('GENRES')

# 统计每个数字的出现次数
counts = exploded_df['GENRES'].value_counts()

counts

GENRES
剧情                 65521
喜剧                 33830
爱情                 22289
动作                 21050
惊悚                 16849
恐怖                 16390
犯罪                 15397
悬疑                 10094
动画                  7501
科幻                  7373
冒险                  7083
奇幻                  4943
歌舞                  4745
家庭                  4436
音乐                  4025
战争                  3100
传记                  2695
历史                  2332
西部                  1567
同性                  1552
古装                  1457
情色                  1278
运动                  1165
儿童                   870
武侠                   860
黑色电影                 493
戏曲                   284
灾难                   232
真人秀                  172
舞台艺术                 127
動畫 Animation         114
Adult                106
短片                    86
鬼怪                    74
脱口秀                   69
惊栗                    53
纪录片                   29
劇情 Drama              15
荒诞                    14
悬念                    14
紀錄片 Documentary        6
News                   5
Reality-TV             5
音樂 Music               5
驚悚 Thriller            4
喜劇 Comedy              4
動作 Action              3
愛情 Romance             3
傳記 Biography           3
懸疑 Mystery             3
兒童 Kids                2
Talk-Show              1
Comedy                 1
记录                     1
歷史 History             1
Name: count, dtype: int64