In [1]:
%matplotlib inline
import numpy as np
# import matplotlib.font_managermn as fm
import matplotlib.pyplot as plt
# 配置中文
# # 添加字体 
# fm.fontMnager.addfont('C:/Windows/Fonts/SimHei.ttf')
# 安装好字体后可以正常设置
plt.rcParams['font.sans-serif'] = ['SimHei'] # 中文字体设置-黑体
plt.rcParams['axes.unicode_minus'] = False # 解决保存图像是符号'-'显示为方块的问题

import pandas as pd
from py2neo import Graph, Node, Relationship
import re

d:\Anaconda_other\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
d:\Anaconda_other\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [23]:
import ast

df_all = pd.read_csv("../../数据集/处理后的数据集/user_data_2_C4.csv")
# 将存储的字符串值修改成列表形式
df_c = df_all[['ACTORS','DIRECTORS','GENRES','LANGUAGES','REGIONS']].copy()

# 将列中的字符串转换为列表，处理NaN值
df_all['ACTORS'] = df_c['ACTORS'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
df_all['DIRECTORS'] = df_c['DIRECTORS'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
df_all['GENRES'] = df_c['GENRES'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
df_all['REGIONS'] = df_c['REGIONS'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
df_all['LANGUAGES'] = df_c['LANGUAGES'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

df_all

,RATING_ID,USER_MD5,MOVIE_ID,RATING,RATING_TIME,COMMENT_ID,CONTENT,COMMENT_TIME,NAME,ACTORS,...,GENRES,LANGUAGES,REGIONS,TOKENIZED_CONTENT,RATING_HOUR,COMMENT_HOUR,length,C,PERCENTAGE,TYPE
0,1.941952e+09,018b88b05ec053e03acf97920e641115,1291544,5.0,2019-09-06 20:19:04,NaN,NaN,NaN,哈利·波特与阿兹卡班的囚徒,"[丹尼尔·雷德克里夫, 艾玛·沃森, 鲁伯特·格林特, 加里·奥德曼, 朱丽·沃特斯, 邦妮...",...,"[剧情, 奇幻, 冒险]",[英语],"[英国 , 美国]",NaN,20.0,NaN,0,0.000000,-0.090909,均衡型
1,1.940096e+09,0617937403be10c1b6962686e97198b5,1291544,5.0,2019-09-05 08:44:38,NaN,NaN,NaN,哈利·波特与阿兹卡班的囚徒,"[丹尼尔·雷德克里夫, 艾玛·沃森, 鲁伯特·格林特, 加里·奥德曼, 朱丽·沃特斯, 邦妮...",...,"[剧情, 奇幻, 冒险]",[英语],"[英国 , 美国]",NaN,8.0,NaN,0,0.000000,NaN,NaN
2,1.941972e+09,08723142276d403448980d73b1eb6e78,1291544,4.0,2019-09-06 20:40:57,NaN,NaN,NaN,哈利·波特与阿兹卡班的囚徒,"[丹尼尔·雷德克里夫, 艾玛·沃森, 鲁伯特·格林特, 加里·奥德曼, 朱丽·沃特斯, 邦妮...",...,"[剧情, 奇幻, 冒险]",[英语],"[英国 , 美国]",NaN,20.0,NaN,0,0.000000,NaN,NaN
3,1.940079e+09,0ac1940db193217a5351d957ac06e7e1,1291544,4.0,2019-09-05 08:16:52,NaN,NaN,NaN,哈利·波特与阿兹卡班的囚徒,"[丹尼尔·雷德克里夫, 艾玛·沃森, 鲁伯特·格林特, 加里·奥德曼, 朱丽·沃特斯, 邦妮...",...,"[剧情, 奇幻, 冒险]",[英语],"[英国 , 美国]",NaN,8.0,NaN,0,0.000000,0.333333,夜间型
4,1.938949e+09,0ae3d72e2c2164f5060b17226b6f5710,1291544,5.0,2019-09-04 10:00:22,NaN,NaN,NaN,哈利·波特与阿兹卡班的囚徒,"[丹尼尔·雷德克里夫, 艾玛·沃森, 鲁伯特·格林特, 加里·奥德曼, 朱丽·沃特斯, 邦妮...",...,"[剧情, 奇幻, 冒险]",[英语],"[英国 , 美国]",NaN,10.0,NaN,0,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4230098,1.917904e+09,8e29154e90cfea1e5a291815a81bdc6f,34782320,3.0,2019-08-20 18:57:42,NaN,NaN,NaN,斩将夺神录,"[吕熙, 孙子钧, 许慧强, 杜玉明]",...,"[喜剧, 爱情, 奇幻]",[汉语普通话],[中国大陆],NaN,18.0,NaN,0,0.000000,-0.500000,晨间型
4230099,1.920864e+09,a3911cd0925a298a8f6c23fd73240b20,34782320,1.0,2019-08-22 20:44:35,NaN,NaN,NaN,斩将夺神录,"[吕熙, 孙子钧, 许慧强, 杜玉明]",...,"[喜剧, 爱情, 奇幻]",[汉语普通话],[中国大陆],NaN,20.0,NaN,0,0.000000,0.230769,均衡型
4230100,1.916191e+09,a8dec3dc19b0a730d99e1affe5bce64f,34782320,1.0,2019-08-19 16:42:50,NaN,NaN,NaN,斩将夺神录,"[吕熙, 孙子钧, 许慧强, 杜玉明]",...,"[喜剧, 爱情, 奇幻]",[汉语普通话],[中国大陆],NaN,16.0,NaN,0,0.022849,0.373737,夜间型
4230101,1.915868e+09,c57f355b1b45db04d2a2a1f7f8b5b083,34782320,3.0,2019-08-19 12:47:06,NaN,NaN,NaN,斩将夺神录,"[吕熙, 孙子钧, 许慧强, 杜玉明]",...,"[喜剧, 爱情, 奇幻]",[汉语普通话],[中国大陆],NaN,12.0,NaN,0,0.000946,NaN,NaN
4230102,1.923229e+09,d89fb1cad0c41dac54939bf61022c134,34782320,1.0,2019-08-24 13:20:17,NaN,NaN,NaN,斩将夺神录,"[吕熙, 孙子钧, 许慧强, 杜玉明]",...,"[喜剧, 爱情, 奇幻]",[汉语普通话],[中国大陆],NaN,13.0,NaN,0,0.040887,0.291005,夜间型

In [24]:
df_filter = pd.read_csv("../../数据集/处理后的数据集/recommendation_C5.csv")
df_filter

      MOVIE_ID  NAME  RATING  USER_ID  new_id
0      1292778   将军号     5.0        1       1
1      1292778   将军号     5.0        2       1
2      1292778   将军号     4.0        3       1
3      1292778   将军号     4.0        4       1
4      1292778   将军号     4.0        5       1
...        ...   ...     ...      ...     ...
4098  30367685  恭喜八婆     2.0       29     187
4099  30367685  恭喜八婆     3.0       62     187
4100  30367685  恭喜八婆     3.0       20     187
4101  30367685  恭喜八婆     2.0       69     187
4102  30367685  恭喜八婆     2.0       65     187

[4103 rows x 5 columns]

In [41]:
unique_movie_ids = df_filter['MOVIE_ID'].unique()

# 根据去重后的 MOVIE_ID 从 df_all 提取 GENRES 和 ACTORS
filtered_data = df_all[df_all['MOVIE_ID'].isin(unique_movie_ids)][['MOVIE_ID', 'NAME', 'GENRES', 'ACTORS', 'DIRECTORS']]
# 对 filtered_data 进行去重，保留第一个出现的 MOVIE_ID
filtered_data = filtered_data.drop_duplicates(subset='MOVIE_ID', keep='first')

# 自定义函数删除“剧情”
def remove_drama(genres):
    return [genre for genre in genres if genre != '剧情']

# 应用函数到 GENRES 列
filtered_data['GENRES'] = filtered_data['GENRES'].apply(remove_drama)
filtered_data['GENRES'] = filtered_data['GENRES'].apply(lambda x: x[:3])
filtered_data['GENRES'] = filtered_data['GENRES'].apply(lambda x: sorted(x))
filtered_data['ACTORS'] = filtered_data['ACTORS'].apply(lambda x: x[:3])
filtered_data['DIRECTORS'] = filtered_data['DIRECTORS'].apply(lambda x: x[:3])
filtered_data = filtered_data.reset_index()
filtered_data

,index,MOVIE_ID,NAME,GENRES,ACTORS,DIRECTORS
0,57962,1292778,将军号,"[动作, 喜剧, 战争]","[巴斯特·基顿, 玛丽昂·马克, 格伦·卡文德]","[巴斯特·基顿, 克莱德·布鲁克曼]"
1,110036,1293391,孩子王,[],"[谢园, 杨学文, 陈绍华]",[陈凯歌]
2,187827,1294477,秘密与谎言,"[喜剧, 家庭]","[蒂莫西·斯波, 菲利斯·洛根, 布兰达·布莱斯]",[迈克·李]
3,233755,1295328,乌鸦,"[悬疑, 惊悚, 犯罪]","[皮埃尔·弗雷奈, 吉内特·勒克莱尔, 米舍利娜·弗朗塞]",[亨利-乔治·克鲁佐]
4,378442,1298063,早安,[喜剧],"[杉村春子, 笠智众, 久我美子]",[小津安二郎]
...,...,...,...,...,...,...
182,4107400,30154537,高潮,"[惊悚, 歌舞]",[索菲亚·波多拉],[加斯帕·诺]
183,4121914,30181130,阿拉姜色,[家庭],"[容中尔甲, 尼玛颂宋, 赛却加]",[松太加]
184,4137619,30209818,忌日快乐2,"[恐怖, 悬疑, 惊悚]","[杰西卡·罗德, 伊瑟尔·布罗萨德, 露比·莫迪恩]",[克里斯托弗·兰登]
185,4146529,30234315,摄影机不要停！,[],[],[]
186,4192563,30367685,恭喜八婆,[喜剧],"[陈逸宁, 陈静, 梁咏琪]",[彭浩翔]

In [42]:
filtered_data[filtered_data['GENRES'].apply(lambda genres: genres == ['喜剧'])]

,index,MOVIE_ID,NAME,GENRES,ACTORS,DIRECTORS
4,378442,1298063,早安,[喜剧],"[杉村春子, 笠智众, 久我美子]",[小津安二郎]
8,660997,1303543,玩乐时间,[喜剧],[雅克·塔蒂],[雅克·塔蒂]
9,764947,1305790,于洛先生的假期,[喜剧],"[雅克·塔蒂, 米舍利娜·罗拉]",[雅克·塔蒂]
11,1014859,1400829,我的舅舅,[喜剧],"[雅克·塔蒂, 让·皮埃尔·佐拉]",[雅克·塔蒂]
56,2967528,19955790,地狱为何恶劣,[喜剧],"[国村隼, 二阶堂富美, 堤真一]",[园子温]
62,3061487,21769535,纵情一曲,[喜剧],"[萨宾·阿泽玛, 伊波利特·吉拉尔多, 卡罗利娜·西奥尔]",[阿伦·雷乃]
90,3451442,26304167,出租车,[喜剧],[贾法·帕纳西],[贾法·帕纳西]
105,3533245,26388164,克罗索巨兽,[喜剧],"[安妮·海瑟薇, 丹·史蒂文斯, 杰森·苏戴奇斯]",[那奇欧·维加隆多]
149,3792332,26825658,布里斯比熊,[喜剧],"[凯尔·穆尼, 格雷戈·金尼尔, 马特·沃尔什]",[戴夫·麦卡里]
162,3931930,26992683,老幸运,[喜剧],"[哈利·戴恩·斯坦通, 大卫·林奇, 朗·里维斯顿]",[约翰·卡洛·林奇]
186,4192563,30367685,恭喜八婆,[喜剧],"[陈逸宁, 陈静, 梁咏琪]",[彭浩翔]

In [40]:
# filtered_data['GENRES'] = filtered_data['GENRES'].apply(lambda x: x[:3])
# 排序后再转为 tuple 去重
unique_combinations = filtered_data['GENRES'].apply(lambda x: tuple(sorted(x))).drop_duplicates()

# 转回列表并打印
unique_combinations_list = unique_combinations.tolist()
print(f"共有 {len(unique_combinations_list)} 种不同的组合（顺序无关）：")
for combo in unique_combinations_list:
    print(list(combo))

共有 87 种不同的组合（顺序无关）：
['动作', '喜剧', '战争']
[]
['喜剧', '家庭']
['悬疑', '惊悚', '犯罪']
['喜剧']
['犯罪', '黑色电影']
['惊悚']
['喜剧', '惊悚', '爱情']
['犯罪']
['传记', '同性']
['冒险']
['家庭']
['喜剧', '家庭', '爱情']
['冒险', '科幻']
['冒险', '动作', '科幻']
['动作', '喜剧', '科幻']
['传记', '歌舞']
['爱情', '音乐']
['传记', '惊悚']
['爱情']
['传记', '历史']
['悬疑', '惊悚']
['冒险', '动作', '奇幻']
['冒险', '动作']
['喜剧', '犯罪']
['音乐']
['动作', '科幻']
['冒险', '奇幻']
['惊悚', '科幻']
['同性', '爱情']
['喜剧', '奇幻', '歌舞']
['传记', '战争', '运动']
['冒险', '动作', '惊悚']
['喜剧', '歌舞', '爱情']
['惊悚', '犯罪']
['传记', '动作', '战争']
['科幻']
['同性', '情色']
['动作', '惊悚', '犯罪']
['喜剧', '奇幻']
['历史', '同性', '喜剧']
['恐怖', '悬疑', '惊悚']
['传记', '动画']
['儿童', '奇幻']
['喜剧', '爱情', '科幻']
['喜剧', '运动']
['传记', '爱情']
['冒险', '惊悚']
['冒险', '动作', '喜剧']
['动作', '悬疑', '惊悚']
['冒险', '动画', '奇幻']
['传记', '历史', '战争']
['动作', '喜剧']
['悬疑', '犯罪']
['动画', '奇幻']
['同性', '家庭']
['传记']
['动作', '犯罪']
['历史', '战争']
['冒险', '犯罪', '西部']
['动画', '喜剧', '奇幻']
['动作']
['冒险', '动画', '喜剧']
['情色']
['同性', '惊悚', '犯罪']
['动画', '爱情']
['恐怖']
['恐怖', '惊悚', '犯罪']
['古装', '喜剧', '奇幻']
['喜剧', '恐怖']
['同性', '奇幻', '惊悚']
['战争']
['冒险', '喜剧', '犯罪']
['恐怖', '悬疑']
['悬疑']
['喜剧', '音乐']
['喜剧', '歌舞', '西部']
['爱情', '犯罪']
['西部']
['奇幻', '爱情']
['动作', '恐怖', '犯罪']
['奇幻']
['动作', '惊悚', '科幻']
['喜剧', '奇幻', '爱情']
['历史', '犯罪']
['动作', '喜剧', '犯罪']
['惊悚', '歌舞']

In [52]:
exploded_data = filtered_data.explode('GENRES')
exploded_data = exploded_data.explode('ACTORS')
exploded_data = exploded_data.explode('DIRECTORS')
exploded_data = exploded_data.drop(['NAME', 'index'], axis=1)
# 2. 对 GENRES 列唯一值编码为 G1, G2, ...
unique_genres = exploded_data['GENRES'].dropna().unique()
genre_mapping = {genre: f'G{i+1}' for i, genre in enumerate(unique_genres)}

# 3. 对 ACTORS 列唯一值编码为 A1, A2, ...
unique_actors = exploded_data['ACTORS'].dropna().unique()
actor_mapping = {actor: f'A{i+1}' for i, actor in enumerate(unique_actors)}

# 4. 对 DIRECTORS 列唯一值编码为 A1, A2, ...
unique_directors = exploded_data['DIRECTORS'].dropna().unique()
director_mapping = {director: f'D{i+1}' for i, director in enumerate(unique_directors)}

# 5. 应用编码映射
exploded_data['GENRE_CODE'] = exploded_data['GENRES'].map(genre_mapping)
exploded_data['ACTOR_CODE'] = exploded_data['ACTORS'].map(actor_mapping)
exploded_data['DIRECTORS_CODE'] = exploded_data['DIRECTORS'].map(director_mapping)
exploded_data

     MOVIE_ID GENRES  ACTORS DIRECTORS GENRE_CODE ACTOR_CODE DIRECTORS_CODE
0     1292778     动作  巴斯特·基顿    巴斯特·基顿         G1         A1             D1
0     1292778     动作  巴斯特·基顿  克莱德·布鲁克曼         G1         A1             D2
0     1292778     动作  玛丽昂·马克    巴斯特·基顿         G1         A2             D1
0     1292778     动作  玛丽昂·马克  克莱德·布鲁克曼         G1         A2             D2
0     1292778     动作  格伦·卡文德    巴斯特·基顿         G1         A3             D1
..        ...    ...     ...       ...        ...        ...            ...
184  30209818     惊悚  露比·莫迪恩  克里斯托弗·兰登         G6       A447           D167
185  30234315    NaN     NaN       NaN        NaN        NaN            NaN
186  30367685     喜剧     陈逸宁       彭浩翔         G2       A448           D168
186  30367685     喜剧      陈静       彭浩翔         G2       A449           D168
186  30367685     喜剧     梁咏琪       彭浩翔         G2       A450           D168

[1017 rows x 7 columns]

In [53]:
df_kgmv = exploded_data.copy()
df_kgmv = df_kgmv[['MOVIE_ID', 'GENRE_CODE', 'ACTOR_CODE', 'DIRECTORS_CODE']]
df_kgmv

     MOVIE_ID GENRE_CODE ACTOR_CODE DIRECTORS_CODE
0     1292778         G1         A1             D1
0     1292778         G1         A1             D2
0     1292778         G1         A2             D1
0     1292778         G1         A2             D2
0     1292778         G1         A3             D1
..        ...        ...        ...            ...
184  30209818         G6       A447           D167
185  30234315        NaN        NaN            NaN
186  30367685         G2       A448           D168
186  30367685         G2       A449           D168
186  30367685         G2       A450           D168

[1017 rows x 4 columns]

In [55]:
# 1. 将四列合并为一个 Series
all_entities = pd.concat([
    df_kgmv['MOVIE_ID'],
    df_kgmv['GENRE_CODE'],
    df_kgmv['ACTOR_CODE'],
    df_kgmv['DIRECTORS_CODE']
])

# 2. 去重 & 重置索引
unique_entities = all_entities.dropna().unique()  # 去掉可能的 NaN
entity2id = {entity: idx for idx, entity in enumerate(unique_entities)}

# 3. 生成一个新的 DataFrame
entity_df = pd.DataFrame({
    'entity': list(entity2id.keys()),
    'id': list(entity2id.values())
})

# 4. 输出为 entity2id.txt，使用制表符分隔
entity_df.to_csv('../../数据集/处理后的数据集/三元组/entity2id.txt', sep='\t', index=False, header=False)

In [56]:
# 1. 为每种关系构造三元组 DataFrame
triplets_genre = df_kgmv[['MOVIE_ID', 'GENRE_CODE']].dropna().copy()
triplets_genre['relation'] = 'Relation_m_g'
triplets_genre.rename(columns={'GENRE_CODE': 'tail'}, inplace=True)

triplets_actor = df_kgmv[['MOVIE_ID', 'ACTOR_CODE']].dropna().copy()
triplets_actor['relation'] = 'Relation_m_a'
triplets_actor.rename(columns={'ACTOR_CODE': 'tail'}, inplace=True)

triplets_director = df_kgmv[['MOVIE_ID', 'DIRECTORS_CODE']].dropna().copy()
triplets_director['relation'] = 'Relation_m_d'
triplets_director.rename(columns={'DIRECTORS_CODE': 'tail'}, inplace=True)

# 2. 合并三种三元组
triplets = pd.concat([triplets_genre, triplets_actor, triplets_director], ignore_index=True)
triplets.rename(columns={'MOVIE_ID': 'head'}, inplace=True)

# 3. 重新排序列：头实体, 关系, 尾实体
triplets = triplets[['head', 'relation', 'tail']]

# 4. 保存为 train.txt，制表符分隔，无列名
triplets.to_csv('../../数据集/处理后的数据集/三元组/train.txt', sep='\t', index=False, header=False)

# 处理结果（计算过程在云服务器）

In [4]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform

# 假设你的文件名是 'data.txt'
filename = 'torch_TransE_entity_50dim_batch5'

data = pd.read_csv(filename, sep='\t', header=None, names=['index', 'vector'])

# 将 'vector' 列中的字符串转换为 NumPy 数组
data['vector'] = data['vector'].apply(lambda x: np.array(eval(x)))

# 将所有向量放在一个 NumPy 数组中
vectors = np.stack(data['vector'].values)

# 计算欧几里得距离矩阵
distance_matrix = squareform(pdist(vectors, metric='euclidean'))

# 创建一个新的矩阵来存储结果
result_matrix = np.zeros_like(distance_matrix)

# 对角线元素设为 1，非对角线元素 +1 后取倒数
for i in range(len(distance_matrix)):
    for j in range(len(distance_matrix)):
        if i == j:  # 对角线元素
            result_matrix[i, j] = 1
        else:  # 非对角线元素
            result_matrix[i, j] = 1 / (distance_matrix[i, j] + 1)

# 将结果矩阵转为 DataFrame 方便查看
result_df = pd.DataFrame(result_matrix)

result_df

,0,1,2,3,4,5,6,7,8,9,...,819,820,821,822,823,824,825,826,827,828
0,1.000000,0.438242,0.469240,0.429002,0.405526,0.448238,0.451155,0.466712,0.412673,0.441724,...,0.410629,0.403525,0.423780,0.364598,0.412466,0.395091,0.372071,0.365560,0.397928,0.409841
1,0.438242,1.000000,0.409789,0.464134,0.351097,0.410175,0.407225,0.425786,0.376542,0.379633,...,0.373292,0.363423,0.380239,0.351038,0.360600,0.362176,0.369721,0.352196,0.370323,0.375153
2,0.469240,0.409789,1.000000,0.417509,0.391432,0.428195,0.429274,0.446669,0.418795,0.400318,...,0.422179,0.409880,0.402181,0.366200,0.395665,0.395083,0.383799,0.390464,0.385304,0.380605
3,0.429002,0.464134,0.417509,1.000000,0.381525,0.425704,0.435055,0.454060,0.385065,0.388023,...,0.419501,0.418598,0.391762,0.362481,0.409495,0.379751,0.381432,0.353315,0.379937,0.420573
4,0.405526,0.351097,0.391432,0.381525,1.000000,0.374972,0.391445,0.418877,0.405575,0.425178,...,0.387955,0.364837,0.390366,0.327026,0.384901,0.396610,0.343324,0.373563,0.374106,0.372319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,0.395091,0.362176,0.395083,0.379751,0.396610,0.385197,0.382443,0.391972,0.430822,0.389575,...,0.400729,0.441056,0.418818,0.374219,0.426875,1.000000,0.425858,0.398222,0.425205,0.408745
825,0.372071,0.369721,0.383799,0.381432,0.343324,0.395756,0.381479,0.390875,0.402745,0.368336,...,0.397813,0.408176,0.370426,0.336587,0.386477,0.425858,1.000000,0.361503,0.372403,0.360865
826,0.365560,0.352196,0.390464,0.353315,0.373563,0.352389,0.344257,0.360615,0.353857,0.350214,...,0.385441,0.383453,0.409430,0.368708,0.387942,0.398222,0.361503,1.000000,0.401824,0.371226
827,0.397928,0.370323,0.385304,0.379937,0.374106,0.402035,0.382724,0.387725,0.410038,0.403563,...,0.410339,0.434475,0.461148,0.387718,0.421241,0.425205,0.372403,0.401824,1.000000,0.413865
828,0.409841,0.375153,0.380605,0.420573,0.372319,0.415915,0.404191,0.379874,0.367959,0.367315,...,0.425241,0.412779,0.444445,0.409682,0.425919,0.408745,0.360865,0.371226,0.413865,1.000000

In [5]:
result_df.to_csv("../../数据集/处理后的数据集/kg_distance_C5.csv", index=False)